name: Radio Playlist Scraper

on:
  schedule:
    # 21:23 UTC is approx 10:23 PM CET
    - cron: '23 21 * * *'
  workflow_dispatch:

jobs:
  scrape-and-commit:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action Scraper"
          git config --global user.email "action@github.com"
          git add docs/*.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist [skip ci]" && git push)
